<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h2>INDOOR AR NAVIGATION</h2>

<form action="./index1.html" method="post">
  <label for="cars">Choose Destination:</label>
  <select name="cars" id="cars">
    <option>Auditorium</option>
    <option>Canteen</option>
    <option>Boy's Hostel</option>
    <option>Administrative Office</option>
    <option>CSE HOD</option>
    <option>Gents Bathroom</option>
    <option>Girls Bathroom</option>
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>